@import url('https://fonts.googleapis.com/css2?family=Kanit&display=swap');

body{
    font-family: 'Kanit', sans-serif;
}
<<<<<<< HEAD
.navbar-brand {
    color: #3a5a40;
}
    .portfolio{
        background-color: #588157;
    }
    .py-2{
        color: #588157;
    }
    .portfolio2{
        background-color: #588157;
    }
=======
>>>>>>> 4a2b955ea1c8b102a4a0f7fc24c71884cfe0cff5
